/* Основные стили для body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Полная высота экрана */
    margin: 0; /* Удаление отступов по умолчанию */
    background-color: #f4f6f4; /* Цвет фона */
    font-family: 'Nunito', sans-serif; /* Шрифт для всего документа */
}

/* Контейнер для содержимого */
.container {
    text-align: center; /* Центрирование текста */
    padding: 20px; /* Отступы внутри контейнера */
}

/* Заголовок */
.header_text {
    font-size: 40px; /* Размер шрифта заголовка */
    font-weight: bold; /* Жирный шрифт */
    color: #FFB6C1; /* Цвет заголовка */
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Стили для кнопок */
.btn {
    background-color: #FFB6C1; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    padding: 20px 40px; /* Увеличение отступов внутри кнопки */
    text-align: center; /* Центрирование текста внутри кнопки */
    display: inline-block; /* Отображение кнопки как блочный элемент */
    font-size: 20px; /* Увеличение размера шрифта кнопки */
    margin: 10px; /* Отступы между кнопками */
    cursor: pointer; /* Указатель при наведении */
    border: none; /* Удаление рамки */
    border-radius: 12px; /* Закругление углов */
}

/* Эффект при наведении на кнопку */
.btn:hover {
    background-color: #ff7f7f; /* Изменение цвета фона при наведении */
}

/* Контейнер для гифок */
.gif_container {
    display: flex;
    justify-content: center; /* Центрирование содержимого */
    align-items: center; /* Вертикальное центрирование */
    margin-top: 20px; /* Отступ сверху */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .header_text {
        font-size: 30px; /* Уменьшение размера шрифта для мобильных устройств */
    }

    .btn {
        padding: 15px 30px; /* Увеличение отступов для кнопок на мобильных устройствах */
        font-size: 18px; /* Увеличение размера шрифта для кнопок */
    }

    .buttons {
        flex-direction: column; /* Вертикальное расположение кнопок на мобильных устройствах */
    }
}

@media (max-width: 480px) {
    .header_text {
        font-size: 24px; /* Дополнительное уменьшение размера шрифта для очень маленьких экранов */
    }

    .btn {
        padding: 12px 24px; /* Дополнительное увеличение отступов для кнопок */
        font-size: 16px; /* Увеличение размера шрифта для кнопок */
    }
}
